openapi: 3.0.0
info:
  title: Binance Spot API
  description: |-
    Binance official supported Postman collections.<br/>
    - API documents: https://binance-docs.github.io/apidocs/spot/en/#change-log
    - Telegram: https://t.me/binance_api_english
    - Open Issue at: https://github.com/binance-exchange/binance-api-postman
  version: 1.0.0
servers:
  - url: https://api.binance.com
    description: Binance Spot API
  - url: https://api-gcp.binance.com
    description: Binance Spot API (GCP)
  - url: https://api1.binance.com
    description: Binance Spot API
  - url: https://api2.binance.com
    description: Binance Spot API
  - url: https://api3.binance.com
    description: Binance Spot API
  - url: https://data-api.binance.vision
    description: 'Binance Spot API that have `NONE` as security type '
tags:
  - name: BLVT
    description: Binance Leveraged Tokens Endpoints
  - name: C2C
    description: Consumer-To-Consumer Endpoints
  - name: Convert
    description: Convert Endpoints
  - name: Crypto Loans
    description: Crypto Loans Endpoints
  - name: Fiat
    description: Fiat Endpoints
  - name: Futures
  - name: Futures Algo
  - name: Spot Algo
    description: >-
      Binance Spot Execution Algorithm API solution aims to provide users
      ability to programmatically leverage Binance in-house algorithmic trading

      capability to automate order execution strategy, improve execution
      transparency and give users smart access to the available market
      liquidity.

      During the introductory period, there will be no additional fees for TWAP
      orders. Standard trading fees apply. Order size exceeds to maximum API
      supported size (100,000 USDT).

      Please contact liquidity@binance.com for larger sizes.
  - name: Gift Card
    description: Gift Card Endpoints
  - name: Margin
    description: Margin Account/Trade
  - name: Market
    description: Market Data
  - name: Mining
    description: Mining Endpoints
  - name: NFT
    description: NFT Endpoints
  - name: Pay
    description: Pay Endpoints
  - name: Portfolio Margin
    description: >-
      The Binance Portfolio Margin Program is a cross-asset margin program
      supporting consolidated margin balance across trading products with over
      200+ effective crypto collaterals. It is designed for professional
      traders, market makers, and institutional users looking to actively trade
      & hedge cross-asset and optimize risk-management in a consolidated setup.
  - name: Rebate
    description: Rebate Endpoints
  - name: Savings
    description: Savings Endpoints
  - name: Sub-Account
    description: Sub-account Endpoints
  - name: Trade
    description: Account/Trade
  - name: User Data Stream
  - name: User Data Stream > Spot
    description: User Data Stream
  - name: User Data Stream > Cross Margin
    description: Margin User Data Stream
  - name: User Data Stream > Isolated Margin
    description: Isolated User Data Stream
  - name: Simple Earn
    description: |-
      The endpoints allow you to interact with Binance Simple Earn.

      For more information on this, please refer to the Binance Simple Earn page
  - name: Auto-Invest
    description: Account/Trade
  - name: Wallet
    description: Wallet Endpoints
  - name: VIP Loans
paths:
  /sapi/v1/blvt/tokenInfo:
    get:
      tags:
        - BLVT
      summary: Get BLVT Info (MARKET_DATA)
      description: 'Weight(IP): 1'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/blvt/subscribe:
    post:
      tags:
        - BLVT
      summary: Subscribe BLVT (USER_DATA)
      description: 'Weight(IP): 1'
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: tokenName
          in: query
          schema:
            type: string
          description: BTCDOWN, BTCUP
        - name: cost
          in: query
          schema:
            type: string
          description: Spot balance
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/blvt/subscribe/record:
    get:
      tags:
        - BLVT
      summary: Query Subscription Record (USER_DATA)
      description: |-
        - Only the data of the latest 90 days is available

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/blvt/redeem:
    post:
      tags:
        - BLVT
      summary: Redeem BLVT (USER_DATA)
      description: 'Weight(IP): 1'
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: tokenName
          in: query
          schema:
            type: string
          description: BTCDOWN, BTCUP
        - name: amount
          in: query
          schema:
            type: number
          example: '1.01'
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/blvt/redeem/record:
    get:
      tags:
        - BLVT
      summary: Query Redemption Record (USER_DATA)
      description: |-
        - Only the data of the latest 90 days is available

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/blvt/userLimit:
    get:
      tags:
        - BLVT
      summary: Get BLVT User Limit Info (USER_DATA)
      description: 'Weight(IP): 1'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/c2c/orderMatch/listUserOrderHistory:
    get:
      tags:
        - C2C
      summary: Get C2C Trade History (USER_DATA)
      description: >-
        - If startTimestamp and endTimestamp are not sent, the recent 30-day
        data will be returned.

        - The max interval between startTimestamp and endTimestamp is 30 days.


        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: tradeType
          in: query
          schema:
            type: string
          description: BUY, SELL
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/convert/exchangeInfo:
    get:
      tags:
        - Convert
      summary: List All Convert Pairs (USER_DATA)
      description: |-
        - The max interval between startTime and endTime is 30 days.

        Weight(UID): 100
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: fromAsset
          in: query
          schema:
            type: string
          description: User spends coin
        - name: toAsset
          in: query
          schema:
            type: string
          description: User receives coin
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/convert/assetInfo:
    get:
      tags:
        - Convert
      summary: Query order quantity precision per asset (USER_DATA)
      description: |-
        - The max interval between startTime and endTime is 30 days.

        Weight(UID): 100
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/convert/getQuote:
    post:
      tags:
        - Convert
      summary: Send quote request (USER_DATA)
      description: |-
        - The max interval between startTime and endTime is 30 days.

        Weight(UID): 100
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: fromAsset
          in: query
          schema:
            type: string
        - name: toAsset
          in: query
          schema:
            type: string
        - name: fromAmount
          in: query
          schema:
            type: string
          description: >-
            When specified, it is the amount you will be debited after the
            conversion
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/convert/acceptQuote:
    post:
      tags:
        - Convert
      summary: Accept Quote (TRADE)
      description: |-
        - The max interval between startTime and endTime is 30 days.

        Weight(UID): 100
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: quoteId
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/convert/orderStatus:
    get:
      tags:
        - Convert
      summary: Order status (USER_DATA)
      description: |-
        - The max interval between startTime and endTime is 30 days.

        Weight(UID): 100
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: orderId
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/convert/limit/placeOrder:
    post:
      tags:
        - Convert
      summary: Place limit order (USER_DATA)
      description: |-
        Enable users to place a limit order
        baseAsset or quoteAsset can be determined via exchangeInfo endpoint.
        Limit price is defined from baseAsset to quoteAsset.
        Either baseAmount or quoteAmount is used.

        Weight(UID): 500
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: baseAsset
          in: query
          schema:
            type: string
          description: >-
            base asset (use the response fromIsBase from GET
            /sapi/v1/convert/exchangeInfo api to check which one is baseAsset )
        - name: quoteAsset
          in: query
          schema:
            type: string
          description: quote asset
        - name: limitPrice
          in: query
          schema:
            type: string
          description: Symbol limit price (from baseAsset to quoteAsset)
        - name: side
          in: query
          schema:
            type: string
          description: BUY or SELL
        - name: expiredType
          in: query
          schema:
            type: string
          description: 1_D, 3_D, 7_D, 30_D (D means day)
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/convert/limit/cancelOrder:
    post:
      tags:
        - Convert
      summary: Cancel limit order (USER_DATA)
      description: |-
        Enable users to cancel a limit order

        Weight(UID): 200
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: orderId
          in: query
          schema:
            type: string
          description: The orderId from placeOrder api
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/convert/limit/queryOpenOrders:
    get:
      tags:
        - Convert
      summary: Query limit open orders (USER_DATA)
      description: |-
        Enable users to query for all existing limit orders

        Weight(UID): 3000
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/convert/tradeFlow:
    get:
      tags:
        - Convert
      summary: Get Convert Trade History (USER_DATA)
      description: |-
        - The max interval between startTime and endTime is 30 days.

        Weight(UID): 100
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: startTime
          in: query
          schema:
            type: string
          description: UTC timestamp in ms
        - name: endTime
          in: query
          schema:
            type: string
          description: UTC timestamp in ms
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/income:
    get:
      tags:
        - Crypto Loans
      summary: Get Crypto Loans Income History (USER_DATA)
      description: >-
        - If startTime and endTime are not sent, the recent 7-day data will be
        returned.

        - The max interval between startTime and endTime is 30 days.


        Weight(UID): 6000
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: asset
          in: query
          schema:
            type: string
          example: BTC
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/borrow:
    post:
      tags:
        - Crypto Loans
      summary: Borrow - Crypto Loan Borrow (TRADE)
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: loanCoin
          in: query
          schema:
            type: string
        - name: collateralCoin
          in: query
          schema:
            type: string
        - name: loanTerm
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/borrow/history:
    get:
      tags:
        - Crypto Loans
      summary: Borrow - Get Loan Borrow History (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/ongoing/orders:
    get:
      tags:
        - Crypto Loans
      summary: Borrow - Get Loan Ongoing Orders (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/repay:
    post:
      tags:
        - Crypto Loans
      summary: Repay - Crypto Loan Repay (TRADE)
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
        - name: orderId
          in: query
          schema:
            type: string
        - name: amount
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/repay/history:
    get:
      tags:
        - Crypto Loans
      summary: Repay - Get Loan Repayment History (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/adjust/ltv:
    post:
      tags:
        - Crypto Loans
      summary: Adjust LTV - Crypto Loan Adjust LTV (TRADE)
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
        - name: orderId
          in: query
          schema:
            type: string
        - name: amount
          in: query
          schema:
            type: string
        - name: direction
          in: query
          schema:
            type: string
          description: '"ADDITIONAL", "REDUCED"'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/ltv/adjustment/history:
    get:
      tags:
        - Crypto Loans
      summary: Adjust LTV - Get Loan LTV Adjustment History (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/loanable/data:
    get:
      tags:
        - Crypto Loans
      summary: Get Loanable Assets Data (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/collateral/data:
    get:
      tags:
        - Crypto Loans
      summary: Get Collateral Assets Data (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/repay/collateral/rate:
    get:
      tags:
        - Crypto Loans
      summary: Check Collateral Repay Rate (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: loanCoin
          in: query
          schema:
            type: string
        - name: collateralCoin
          in: query
          schema:
            type: string
        - name: repayAmount
          in: query
          schema:
            type: string
          description: repay amount of loanCoin
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/customize/margin_call:
    post:
      tags:
        - Crypto Loans
      summary: Crypto Loan Customize Margin Call (TRADE)
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: marginCall
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/flexible/borrow:
    post:
      tags:
        - Crypto Loans
      summary: Borrow - Flexible Loan Borrow (TRADE)
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: loanCoin
          in: query
          schema:
            type: string
        - name: loanAmount
          in: query
          schema:
            type: string
        - name: collateralAmount
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: Signature
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/flexible/ongoing/orders:
    get:
      tags:
        - Crypto Loans
      summary: Borrow - Get Flexible Loan Ongoing Orders (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: loanCoin
          in: query
          schema:
            type: string
        - name: collateralCoin
          in: query
          schema:
            type: string
        - name: current
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: Signature
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/flexible/borrow/history:
    get:
      tags:
        - Crypto Loans
      summary: Borrow - Get Flexible Loan Borrow History (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: loanCoin
          in: query
          schema:
            type: string
        - name: collateralCoin
          in: query
          schema:
            type: string
        - name: startTime
          in: query
          schema:
            type: string
        - name: endTime
          in: query
          schema:
            type: string
        - name: current
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/flexible/repay:
    post:
      tags:
        - Crypto Loans
      summary: Repay - Flexible Loan Repay (TRADE)
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: loanCoin
          in: query
          schema:
            type: string
        - name: collateralCoin
          in: query
          schema:
            type: string
        - name: repayAmount
          in: query
          schema:
            type: string
        - name: collateralReturn
          in: query
          schema:
            type: string
        - name: fullRepayment
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/flexible/repay/history:
    get:
      tags:
        - Crypto Loans
      summary: Repay - Get Flexible Loan Repayment History (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: loanCoin
          in: query
          schema:
            type: string
        - name: collateralCoin
          in: query
          schema:
            type: string
        - name: startTime
          in: query
          schema:
            type: string
        - name: endTime
          in: query
          schema:
            type: string
        - name: current
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/flexible/adjust/ltv:
    post:
      tags:
        - Crypto Loans
      summary: Adjust LTV - Flexible Loan Adjust LTV (TRADE)
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: loanCoin
          in: query
          schema:
            type: string
        - name: collateralCoin
          in: query
          schema:
            type: string
        - name: adjustmentAmount
          in: query
          schema:
            type: string
        - name: direction
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/loan/flexible/ltv/adjustment/history:
    get:
      tags:
        - Crypto Loans
      summary: Get Flexible Loan Collateral Assets Data (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: collateralCoin
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/fiat/orders:
    get:
      tags:
        - Fiat
      summary: Get Fiat Deposit/Withdraw History (USER_DATA)
      description: >-
        - If beginTime and endTime are not sent, the recent 30-day data will be
        returned.


        Weight(UID): 90000
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: transactionType
          in: query
          schema:
            type: integer
          description: |-
            * `0` - deposit
            * `1` - withdraw
          example: '0'
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/fiat/payments:
    get:
      tags:
        - Fiat
      summary: Get Fiat Payments History (USER_DATA)
      description: >-
        - If beginTime and endTime are not sent, the recent 30-day data will be
        returned.


        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: transactionType
          in: query
          schema:
            type: integer
          description: |-
            * `0` - deposit
            * `1` - withdraw
          example: '0'
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/futures/transfer:
    post:
      tags:
        - Futures
      summary: New Future Account Transfer (USER_DATA)
      description: |-
        Execute transfer between spot account and futures account.

        Weight(IP): 1
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: asset
          in: query
          schema:
            type: string
          description: The asset being transferred, e.g., USDT
        - name: amount
          in: query
          schema:
            type: string
          description: The amount to be transferred
        - name: type
          in: query
          schema:
            type: string
          description: >-
            1: transfer from spot account to USDT-Ⓜ futures account. 2: transfer
            from USDT-Ⓜ futures account to spot account. 3: transfer from spot
            account to COIN-Ⓜ futures account. 4: transfer from COIN-Ⓜ futures
            account to spot account.
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - Futures
      summary: Get Future Account Transaction History List (USER_DATA)
      description: 'Weight(IP): 10'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: asset
          in: query
          schema:
            type: string
        - name: startTime
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/futures/histDataLink:
    get:
      tags:
        - Futures
      summary: Get Future TickLevel Orderbook Historical Data Download Link (USER_DATA)
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
        - name: dataType
          in: query
          schema:
            type: string
        - name: startTime
          in: query
          schema:
            type: string
        - name: endTime
          in: query
          schema:
            type: string
          description: Currently querying page. Start from 1. Default:1
        - name: timestamp
          in: query
          schema:
            type: integer
          description: The value cannot be greater than 60000
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: UTC timestamp in ms
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/futures/newOrderVp:
    post:
      tags:
        - Futures Algo
      summary: Volume Participation New Order (TRADE)
      description: >-
        Send in a VP new order. Only support on USDⓈ-M Contracts.


        Weight(IP): 3000


        - Max open orders allowed: 10 orders.

        - Leverage of symbols and position mode will be the same as your futures
        account settings. You can set up through the trading page or fapi.

        - Receiving "success": true does not mean that your order will be
        executed. Please use the query order endpoints（GET
        sapi/v1/algo/futures/openOrders or GET
        sapi/v1/algo/futures/historicalOrders） to check the order status. For
        example: Your futures balance is insufficient, or open position with
        reduce only or position side is inconsistent with your own setting. In
        these cases you will receive "success": true, but the order status will
        be expired after we check it.
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol eg. BTCUSDT
        - name: side
          in: query
          schema:
            type: string
          description: Trading side ( BUY or SELL )
          example: SELL
        - name: quantity
          in: query
          schema:
            type: string
          description: >-
            Quantity of base asset; The notional (quantity * mark price(base
            asset)) must be more than the equivalent of 10,000 USDT and less
            than the equivalent of 1,000,000 USDT.
        - name: urgency
          in: query
          schema:
            type: string
          description: >-
            Represent the relative speed of the current execution; ENUM: LOW,
            MEDIUM, HIGH.
          example: LOW
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/futures/newOrderTwap:
    post:
      tags:
        - Futures Algo
      summary: Time-Weighted Average Price New Order (TRADE)
      description: |-
        Send in a Twap new order. Only support on USDⓈ-M Contracts.

        Weight(UID): 3000
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol eg. BTCUSDT
        - name: side
          in: query
          schema:
            type: string
          description: Trading side ( BUY or SELL )
        - name: quantity
          in: query
          schema:
            type: string
          description: >-
            Quantity of base asset; The notional (quantity * mark price(base
            asset)) must be more than the equivalent of 10,000 USDT and less
            than the equivalent of 1,000,000 USDT
        - name: duration
          in: query
          schema:
            type: string
          description: >-
            Duration for TWAP orders in seconds. [300, 86400];Less than 5min =>
            defaults to 5 min; Greater than 24h => defaults to 24h
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/futures/order:
    delete:
      tags:
        - Futures Algo
      summary: Cancel Algo Order (TRADE)
      description: |-
        Cancel an active order.

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: algoId
          in: query
          schema:
            type: integer
          example: '14511'
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/futures/openOrders:
    get:
      tags:
        - Futures Algo
      summary: Query Current Algo Open Orders (USER_DATA)
      description: 'Weight(IP): 1'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/futures/historicalOrders:
    get:
      tags:
        - Futures Algo
      summary: Query Historical Algo Orders (USER_DATA)
      description: 'Weight(IP): 1'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/futures/subOrders:
    get:
      tags:
        - Futures Algo
      summary: Query Sub Orders (USER_DATA)
      description: |-
        Get respective sub orders for a specified algoId

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/spot/newOrderTwap:
    post:
      tags:
        - Spot Algo
      summary: Time-Weighted Average Price New Order (TRADE)
      description: |-
        Place a new spot TWAP order with Algo service.

        Total Algo open orders max allowed: 10 orders.

        Weight(UID): 3000
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol eg. BTCUSDT
        - name: side
          in: query
          schema:
            type: string
          description: Trading side ( BUY or SELL )
        - name: quantity
          in: query
          schema:
            type: string
          description: >-
            Quantity of base asset; The notional (quantity * last price(base
            asset)) must be more than the equivalent of 1,000 USDT and less than
            the equivalent of 100,000 USDT
        - name: duration
          in: query
          schema:
            type: string
          description: Duration for TWAP orders in seconds. [300, 86400]
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/spot/order:
    delete:
      tags:
        - Spot Algo
      summary: Cancel Algo Order (TRADE)
      description: |-
        Cancel an open TWAP order

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: algoId
          in: query
          schema:
            type: string
          description: eg. 14511
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/spot/openOrders:
    get:
      tags:
        - Spot Algo
      summary: Query Current Algo Open Orders (USER_DATA)
      description: |-
        Get all open SPOT TWAP orders

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/spot/historicalOrders:
    get:
      tags:
        - Spot Algo
      summary: Query Historical Algo Orders (USER_DATA)
      description: |-
        Get all historical SPOT TWAP orders

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/algo/spot/subOrders:
    get:
      tags:
        - Spot Algo
      summary: Query Sub Orders (USER_DATA)
      description: |-
        Get respective sub orders for a specified algoId

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: algoId
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/giftcard/createCode:
    post:
      tags:
        - Gift Card
      summary: Create a Binance Code (USER_DATA)
      description: >-
        This API is for creating a Binance Code. To get started with, please
        make sure:


        - You have a Binance account

        - You have passed kyc

        - You have a sufﬁcient balance in your Binance funding wallet

        - You need Enable Withdrawals for the API Key which requests this
        endpoint.


        Daily creation volume: 2 BTC / 24H Daily creation times: 200 Codes / 24H


        Weight(IP): 1
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: token
          in: query
          schema:
            type: string
          description: The coin type contained in the Binance Code
        - name: amount
          in: query
          schema:
            type: string
          description: The amount of the coin
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/giftcard/redeemCode:
    post:
      tags:
        - Gift Card
      summary: Redeem a Binance Code (USER_DATA)
      description: >-
        This API is for redeeming the Binance Code. Once redeemed, the coins
        will be deposited in your funding wallet.


        Please note that if you enter the wrong code 5 times within 24 hours,
        you will no longer be able to redeem any Binance Code that day.


        Weight(IP): 1
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: code
          in: query
          schema:
            type: string
          description: Binance Code
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/giftcard/buyCode:
    post:
      tags:
        - Gift Card
      summary: Buy a Binance Code (TRADE)
      description: >-
        This API is for redeeming the Binance Code. Once redeemed, the coins
        will be deposited in your funding wallet.


        Please note that if you enter the wrong code 5 times within 24 hours,
        you will no longer be able to redeem any Binance Code that day.


        Weight(IP): 1
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: baseToken
          in: query
          schema:
            type: string
          description: 'The token you want to pay, example: BUSD'
        - name: faceToken
          in: query
          schema:
            type: string
          description: >-
            The token you want to buy, example: BNB. If faceToken = baseToken,
            it's the same as createCode endpoint.
        - name: baseTokenAmount
          in: query
          schema:
            type: string
          description: 'The base token asset quantity, example : 1.002'
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/giftcard/verify:
    get:
      tags:
        - Gift Card
      summary: Verify a Binance Code (USER_DATA)
      description: >-
        This API is for verifying whether the Binance Code is valid or not by
        entering Binance Code or reference number.


        Please note that if you enter the wrong binance code 5 times within an
        hour, you will no longer be able to verify any binance code for that
        hour.


        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: referenceNo
          in: query
          schema:
            type: string
          description: reference number
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/giftcard/buyCode/token-limit:
    get:
      tags:
        - Gift Card
      summary: Fetch Token Limit (USER_DATA)
      description: >-
        This API is for verifying whether the Binance Code is valid or not by
        entering Binance Code or reference number.


        Please note that if you enter the wrong binance code 5 times within an
        hour, you will no longer be able to verify any binance code for that
        hour.


        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: baseToken
          in: query
          schema:
            type: string
          description: 'The token you want to pay, example: BUSD'
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/giftcard/cryptography/rsa-public-key:
    get:
      tags:
        - Gift Card
      summary: Fetch RSA Public Key (USER_DATA)
      description: >-
        This API is for fetching the RSA Public Key.

        This RSA Public key will be used to encrypt the card code.

        Please note that the RSA Public key fetched is valid only for the
        current day.


        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/max-leverage:
    post:
      tags:
        - Margin
      summary: Adjust cross margin max leverage (USER_DATA)
      description: >-
        Adjust cross margin max leverage

        The margin level need higher than the initial risk ratio of adjusted
        leverage, the initial risk ratio of 3x is 1.5 and the initial risk ratio
        of 5x is 1.25


        Weight(IP): 3000
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: maxLeverage
          in: query
          schema:
            type: string
          description: UTC timestamp in ms
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/transfer:
    get:
      tags:
        - Margin
      summary: Get Cross Margin Transfer History (USER_DATA)
      description: |-
        - Response in descending order
        - Returns data for last 7 days by default
        - Set `archived` to `true` to query data from 6 months ago

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/allAssets:
    get:
      tags:
        - Margin
      summary: Get All Margin Assets (MARKET_DATA)
      description: 'Weight(IP): 1'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/allPairs:
    get:
      tags:
        - Margin
      summary: Get All Cross Margin Pairs (MARKET_DATA)
      description: 'Weight(IP): 1'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/priceIndex:
    get:
      tags:
        - Margin
      summary: Query Margin PriceIndex (MARKET_DATA)
      description: 'Weight(IP): 10'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/order:
    get:
      tags:
        - Margin
      summary: Query Margin Account's Order (USER_DATA)
      description: >-
        - Either `orderId` or `origClientOrderId` must be sent.

        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning
        the data is not available at this time.


        Weight(IP): 10
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Margin
      summary: Margin Account New Order (TRADE)
      description: |-
        Post a new order for margin account.

        Weight(UID): 6
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: side
          in: query
          schema:
            type: string
          example: SELL
        - name: type
          in: query
          schema:
            type: string
          description: Order type
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Margin
      summary: Margin Account Cancel Order (TRADE)
      description: |-
        Cancel an active order for margin account.

        Either `orderId` or `origClientOrderId` must be sent.

        Weight(IP): 10
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/interestHistory:
    get:
      tags:
        - Margin
      summary: Get Interest History (USER_DATA)
      description: |-
        - Response in descending order
        - If `isolatedSymbol` is not sent, crossed margin data will be returned
        - Set `archived` to `true` to query data from 6 months ago
        - `type` in response has 4 enums:
          - `PERIODIC` interest charged per hour
          - `ON_BORROW` first interest charged on borrow
          - `PERIODIC_CONVERTED` interest charged per hour converted into BNB
          - `ON_BORROW_CONVERTED` first interest charged on borrow converted into BNB

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/forceLiquidationRec:
    get:
      tags:
        - Margin
      summary: Get Force Liquidation Record (USER_DATA)
      description: |-
        - Response in descending order

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/account:
    get:
      tags:
        - Margin
      summary: Query Cross Margin Account Details (USER_DATA)
      description: 'Weight(IP): 10'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/openOrders:
    get:
      tags:
        - Margin
      summary: Query Margin Account's Open Orders (USER_DATA)
      description: >-
        - If the `symbol` is not sent, orders for all symbols will be returned
        in an array.

        - When all symbols are returned, the number of requests counted against
        the rate limiter is equal to the number of symbols currently trading on
        the exchange

        - If isIsolated ="TRUE", symbol must be sent.


        Weight(IP): 10
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Margin
      summary: Margin Account Cancel all Open Orders on a Symbol (TRADE)
      description: |
        - Cancels all active orders on a symbol for margin account.
        - This includes OCO orders.

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/allOrders:
    get:
      tags:
        - Margin
      summary: Query Margin Account's All Orders (USER_DATA)
      description: >-
        - If `orderId` is set, it will get orders >= that orderId. Otherwise
        most recent orders are returned.

        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning
        the data is not available at this time.


        Weight(IP): 200


        Request Limit: 60 times/min per IP
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/order/oco:
    post:
      tags:
        - Margin
      summary: Margin Account New OCO (TRADE)
      description: |-
        Send in a new OCO for a margin account

        - Price Restrictions:
          - SELL: Limit Price > Last Price > Stop Price
          - BUY: Limit Price < Last Price < Stop Price
        - Quantity Restrictions:
          - Both legs must have the same quantity
          - ICEBERG quantities however do not have to be the same.
        - Order Rate Limit
          - OCO counts as 2 orders against the order rate limit.

        Weight(UID): 6
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: side
          in: query
          schema:
            type: string
          example: SELL
        - name: quantity
          in: query
          schema:
            type: string
        - name: price
          in: query
          schema:
            type: string
          description: Order price
        - name: stopPrice
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/orderList:
    get:
      tags:
        - Margin
      summary: Query Margin Account's OCO (USER_DATA)
      description: |-
        Retrieves a specific OCO based on provided optional parameters

        - Either `orderListId` or `origClientOrderId` must be provided

        Weight(IP): 10
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Margin
      summary: Margin Account Cancel OCO (TRADE)
      description: |-
        Cancel an entire Order List for a margin account

        - Canceling an individual leg will cancel the entire OCO
        - Either `orderListId` or `listClientOrderId` must be provided

        Weight(UID): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/allOrderList:
    get:
      tags:
        - Margin
      summary: Query Margin Account's all OCO (USER_DATA)
      description: >-
        Retrieves all OCO for a specific margin account based on provided
        optional parameters


        Weight(IP): 200
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/openOrderList:
    get:
      tags:
        - Margin
      summary: Query Margin Account's Open OCO (USER_DATA)
      description: 'Weight(IP): 10'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/myTrades:
    get:
      tags:
        - Margin
      summary: Query Margin Account's Trade List (USER_DATA)
      description: >-
        - If `fromId` is set, it will get orders >= that `fromId`. Otherwise
        most recent trades are returned.


        Weight(IP): 10
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/maxBorrowable:
    get:
      tags:
        - Margin
      summary: Query Max Borrow (USER_DATA)
      description: >-
        - If `isolatedSymbol` is not sent, crossed margin data will be sent.

        - `borrowLimit` is also available from
        https://www.binance.com/en/margin-fee


        Weight(IP): 50
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: asset
          in: query
          schema:
            type: string
          example: BTC
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/maxTransferable:
    get:
      tags:
        - Margin
      summary: Query Max Transfer-Out Amount (USER_DATA)
      description: |-
        - If `isolatedSymbol` is not sent, crossed margin data will be sent.

        Weight(IP): 50
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: asset
          in: query
          schema:
            type: string
          example: BTC
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/tradeCoeff:
    get:
      tags:
        - Margin
      summary: Get Summary of Margin account (USER_DATA)
      description: |-
        - If `isolatedSymbol` is not sent, crossed margin data will be sent.

        Weight(IP): 50
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: email
          in: query
          schema:
            type: string
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/isolated/account:
    get:
      tags:
        - Margin
      summary: Query Isolated Margin Account Info (USER_DATA)
      description: >-
        - If "symbols" is not sent, all isolated assets will be returned.

        - If "symbols" is sent, only the isolated assets of the sent symbols
        will be returned.


        Weight(IP): 10
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Margin
      summary: Disable Isolated Margin Account (TRADE)
      description: >-
        Disable isolated margin account for a specific symbol. Each trading pair
        can only be deactivated once every 24 hours .


        Weight(UID): 300
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Margin
      summary: Enable Isolated Margin Account (TRADE)
      description: |-
        Enable isolated margin account for a specific symbol.

        Weight(UID): 300
      requestBody:
        content: {}
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: symbol
          in: query
          schema:
            type: string
          description: Trading symbol, e.g. BNBUSDT
          example: BNBUSDT
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/isolated/accountLimit:
    get:
      tags:
        - Margin
      summary: Query Enabled Isolated Margin Account Limit (USER_DATA)
      description: |-
        Query enabled isolated margin account limit.

        Weight(IP): 1
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
          schema:
            type: integer
          description: UTC timestamp in ms
          example: '1234567890'
        - name: signature
          in: query
          schema:
            type: string
          description: Signature
          example: signature
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sapi/v1/margin/isolated/allPairs:
    get:
      tags:
        - Margin
      summary: Get All Isolated Margin Symbol (USER_DATA)
      description: 'Weight(IP): 10'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: X-MBX-APIKEY
          in: header
          schema:
            type: string
          example: binance-api-key
        - name: timestamp
          in: query
[...]
