openapi: 3.0.0
info:
  title: Binance USDs-M Futures API
  description: |-
    Binance official supported Postman collections.<br/>
    - API documents: https://binance-docs.github.io/apidocs/futures/en/
    - Telegram: https://t.me/binance_api_english
    - Open Issue at: https://github.com/binance-exchange/binance-api-postman
  version: 1.0.0
servers:
  - url: https://fapi.binance.com
    description: Binance USDS-M Futures API
  - url: https://testnet.binancefuture.com
    description: Binance Futures Testnet
tags:
  - name: Market
  - name: Account
  - name: Order
  - name: Trade
  - name: Data Stream
  - name: Portfolio Margin
paths:
  /fapi/v1/ping:
    get:
      tags:
        - Market
      summary: Test Connectivity
      operationId: testConnectivity
      description: Test connectivity to the Rest API.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 26 Feb 2024 13:22:51 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: '2'
            Connection:
              schema:
                type: string
                example: keep-alive
            Server:
              schema:
                type: string
                example: Tengine
            x-mbx-used-weight-1m:
              schema:
                type: integer
                example: '1'
            x-response-time:
              schema:
                type: string
                example: 0ms
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'self'
            cache-control:
              schema:
                type: string
                example: no-cache, no-store, must-revalidate
            expires:
              schema:
                type: integer
                example: '0'
            pragma:
              schema:
                type: string
                example: no-cache
            strict-transport-security:
              schema:
                type: string
                example: max-age=31536000; includeSubdomains
            x-content-type-options:
              schema:
                type: string
                example: nosniff
            x-frame-options:
              schema:
                type: string
                example: SAMEORIGIN
            x-xss-protection:
              schema:
                type: string
                example: 1; mode=block
          content:
            application/json:
              schema:
                type: object
              example: {}
  /fapi/v1/time:
    get:
      tags:
        - Market
      summary: Check Server Time
      operationId: checkServerTime
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 26 Feb 2024 13:32:34 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: '28'
            Connection:
              schema:
                type: string
                example: keep-alive
            Server:
              schema:
                type: string
                example: Tengine
            x-mbx-used-weight-1m:
              schema:
                type: integer
                example: '1'
            x-response-time:
              schema:
                type: string
                example: 0ms
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'self'
            cache-control:
              schema:
                type: string
                example: no-cache, no-store, must-revalidate
            expires:
              schema:
                type: integer
                example: '0'
            pragma:
              schema:
                type: string
                example: no-cache
            strict-transport-security:
              schema:
                type: string
                example: max-age=31536000; includeSubdomains
            x-content-type-options:
              schema:
                type: string
                example: nosniff
            x-frame-options:
              schema:
                type: string
                example: SAMEORIGIN
            x-xss-protection:
              schema:
                type: string
                example: 1; mode=block
          content:
            application/json:
              schema:
                type: object
              example:
                serverTime: 1708954354163
  /fapi/v1/exchangeInfo:
    get:
      tags:
        - Market
      summary: Exchange Information
      operationId: exchangeInformation
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 26 Feb 2024 13:32:42 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Server:
              schema:
                type: string
                example: Tengine
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            x-mbx-used-weight-1m:
              schema:
                type: integer
                example: '2'
            x-response-time:
              schema:
                type: string
                example: 0ms
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET, POST, PUT, DELETE, OPTIONS
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
                example: 'true'
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: '*'
            Content-Security-Policy:
              schema:
                type: string
                example: default-src 'self'
            cache-control:
              schema:
                type: string
                example: no-cache, no-store, must-revalidate
            expires:
              schema:
                type: integer
                example: '0'
            pragma:
              schema:
                type: string
                example: no-cache
            strict-transport-security:
              schema:
                type: string
                example: max-age=31536000; includeSubdomains
            x-content-type-options:
              schema:
                type: string
                example: nosniff
            x-frame-options:
              schema:
                type: string
                example: SAMEORIGIN
            x-xss-protection:
              schema:
                type: string
                example: 1; mode=block
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                timezone: UTC
                serverTime: 1708948809760
                futuresType: U_MARGINED
                rateLimits:
                  - rateLimitType: REQUEST_WEIGHT
                    interval: MINUTE
                    intervalNum: 1
                    limit: 2400
                  - rateLimitType: ORDERS
                    interval: MINUTE
                    intervalNum: 1
                    limit: 1200
                  - rateLimitType: ORDERS
                    interval: SECOND
                    intervalNum: 10
                    limit: 300
                exchangeFilters: []
                assets:
                  - asset: USDT
                    marginAvailable: true
                    autoAssetExchange: '-10000'
                  - asset: BTC
                    marginAvailable: true
                    autoAssetExchange: '-0.10000000'
                  - asset: BNB
                    marginAvailable: true
                    autoAssetExchange: '-10'
                  - asset: ETH
                    marginAvailable: true
                    autoAssetExchange: '-5'
                  - asset: XRP
                    marginAvailable: true
                    autoAssetExchange: '0'
                  - asset: USDC
                    marginAvailable: true
                    autoAssetExchange: '-10000'
                  - asset: TUSD
                    marginAvailable: true
                    autoAssetExchange: '0'
                  - asset: USDP
                    marginAvailable: true
                    autoAssetExchange: '0'
                symbols:
                  - symbol: BTCUSDT
                    pair: BTCUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: BTC
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 2
                    quantityPrecision: 3
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - PoW
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.012500'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '556.80'
                        maxPrice: '4529764'
                        tickSize: '0.10'
                        filterType: PRICE_FILTER
                      - stepSize: '0.001'
                        filterType: LOT_SIZE
                        maxQty: '1000'
                        minQty: '0.001'
                      - maxQty: '120'
                        filterType: MARKET_LOT_SIZE
                        stepSize: '0.001'
                        minQty: '0.001'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '100'
                        filterType: MIN_NOTIONAL
                      - filterType: PERCENT_PRICE
                        multiplierUp: '1.0500'
                        multiplierDown: '0.9500'
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: ETHUSDT
                    pair: ETHUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: ETH
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 2
                    quantityPrecision: 3
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.012500'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '39.86'
                        maxPrice: '306177'
                        tickSize: '0.01'
                        filterType: PRICE_FILTER
                      - filterType: LOT_SIZE
                        minQty: '0.001'
                        maxQty: '10000'
                        stepSize: '0.001'
                      - filterType: MARKET_LOT_SIZE
                        minQty: '0.001'
                        maxQty: '2000'
                        stepSize: '0.001'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '20'
                      - multiplierUp: '1.0500'
                        multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierDown: '0.9500'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: BCHUSDT
                    pair: BCHUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: BCH
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 2
                    quantityPrecision: 3
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - PoW
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - filterType: PRICE_FILTER
                        maxPrice: '100000'
                        minPrice: '13.93'
                        tickSize: '0.01'
                      - stepSize: '0.001'
                        maxQty: '10000'
                        minQty: '0.001'
                        filterType: LOT_SIZE
                      - minQty: '0.001'
                        stepSize: '0.001'
                        filterType: MARKET_LOT_SIZE
                        maxQty: '850'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '20'
                      - filterType: PERCENT_PRICE
                        multiplierDown: '0.9500'
                        multiplierDecimal: '4'
                        multiplierUp: '1.0500'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: XRPUSDT
                    pair: XRPUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: XRP
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Payment
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.012500'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - tickSize: '0.0001'
                        maxPrice: '100000'
                        minPrice: '0.0143'
                        filterType: PRICE_FILTER
                      - stepSize: '0.1'
                        minQty: '0.1'
                        maxQty: '10000000'
                        filterType: LOT_SIZE
                      - minQty: '0.1'
                        maxQty: '2000000'
                        stepSize: '0.1'
                        filterType: MARKET_LOT_SIZE
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - filterType: PERCENT_PRICE
                        multiplierDown: '0.9500'
                        multiplierUp: '1.0500'
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: EOSUSDT
                    pair: EOSUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: EOS
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 3
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.111'
                        maxPrice: '100000'
                        filterType: PRICE_FILTER
                        tickSize: '0.001'
                      - filterType: LOT_SIZE
                        minQty: '0.1'
                        stepSize: '0.1'
                        maxQty: '1000000'
                      - maxQty: '120000'
                        minQty: '0.1'
                        stepSize: '0.1'
                        filterType: MARKET_LOT_SIZE
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierUp: '1.1000'
                        multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierDown: '0.9000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: LTCUSDT
                    pair: LTCUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: LTC
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 2
                    quantityPrecision: 3
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - PoW
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '3.61'
                        tickSize: '0.01'
                        filterType: PRICE_FILTER
                        maxPrice: '100000'
                      - minQty: '0.001'
                        filterType: LOT_SIZE
                        stepSize: '0.001'
                        maxQty: '10000'
                      - maxQty: '5000'
                        minQty: '0.001'
                        stepSize: '0.001'
                        filterType: MARKET_LOT_SIZE
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '20'
                      - multiplierDown: '0.9500'
                        multiplierUp: '1.0500'
                        filterType: PERCENT_PRICE
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: TRXUSDT
                    pair: TRXUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: TRX
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 5
                    quantityPrecision: 0
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.00132'
                        tickSize: '0.00001'
                        filterType: PRICE_FILTER
                        maxPrice: '20000'
                      - stepSize: '1'
                        filterType: LOT_SIZE
                        maxQty: '10000000'
                        minQty: '1'
                      - minQty: '1'
                        stepSize: '1'
                        filterType: MARKET_LOT_SIZE
                        maxQty: '5000000'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierUp: '1.0500'
                        filterType: PERCENT_PRICE
                        multiplierDecimal: '4'
                        multiplierDown: '0.9500'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: ETCUSDT
                    pair: ETCUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: ETC
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 3
                    quantityPrecision: 2
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - maxPrice: '100000'
                        filterType: PRICE_FILTER
                        tickSize: '0.001'
                        minPrice: '1.051'
                      - filterType: LOT_SIZE
                        stepSize: '0.01'
                        maxQty: '100000'
                        minQty: '0.01'
                      - minQty: '0.01'
                        filterType: MARKET_LOT_SIZE
                        maxQty: '10000'
                        stepSize: '0.01'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - filterType: MIN_NOTIONAL
                        notional: '20'
                      - multiplierDown: '0.9000'
                        multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierUp: '1.1000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: LINKUSDT
                    pair: LINKUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: LINK
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 3
                    quantityPrecision: 2
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Oracle
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.464'
                        filterType: PRICE_FILTER
                        tickSize: '0.001'
                        maxPrice: '100000'
                      - minQty: '0.01'
                        filterType: LOT_SIZE
                        stepSize: '0.01'
                        maxQty: '200000'
                      - minQty: '0.01'
                        filterType: MARKET_LOT_SIZE
                        maxQty: '20000'
                        stepSize: '0.01'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '20'
                        filterType: MIN_NOTIONAL
                      - multiplierDown: '0.9000'
                        filterType: PERCENT_PRICE
                        multiplierUp: '1.1000'
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: XLMUSDT
                    pair: XLMUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: XLM
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 5
                    quantityPrecision: 0
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-2
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - tickSize: '0.00001'
                        minPrice: '0.00648'
                        maxPrice: '20000'
                        filterType: PRICE_FILTER
                      - stepSize: '1'
                        filterType: LOT_SIZE
                        minQty: '1'
                        maxQty: '10000000'
                      - minQty: '1'
                        filterType: MARKET_LOT_SIZE
                        maxQty: '1000000'
                        stepSize: '1'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - filterType: PERCENT_PRICE
                        multiplierDown: '0.9500'
                        multiplierDecimal: '4'
                        multiplierUp: '1.0500'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: ADAUSDT
                    pair: ADAUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: ADA
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 5
                    quantityPrecision: 0
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - maxPrice: '20000'
                        filterType: PRICE_FILTER
                        minPrice: '0.01740'
                        tickSize: '0.00010'
                      - maxQty: '2000000'
                        minQty: '1'
                        filterType: LOT_SIZE
                        stepSize: '1'
                      - maxQty: '300000'
                        filterType: MARKET_LOT_SIZE
                        minQty: '1'
                        stepSize: '1'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierDown: '0.9500'
                        multiplierDecimal: '4'
                        multiplierUp: '1.0500'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: XMRUSDT
                    pair: XMRUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: XMR
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 2
                    quantityPrecision: 3
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Privacy
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - maxPrice: '100000'
                        tickSize: '0.01'
                        minPrice: '4.36'
                        filterType: PRICE_FILTER
                      - filterType: LOT_SIZE
                        maxQty: '10000'
                        stepSize: '0.001'
                        minQty: '0.001'
                      - minQty: '0.001'
                        maxQty: '2000'
                        filterType: MARKET_LOT_SIZE
                        stepSize: '0.001'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - filterType: PERCENT_PRICE
                        multiplierDecimal: '4'
                        multiplierDown: '0.9500'
                        multiplierUp: '1.0500'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: DASHUSDT
                    pair: DASHUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: DASH
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 2
                    quantityPrecision: 3
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Payment
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '3.82'
                        maxPrice: '100000'
                        filterType: PRICE_FILTER
                        tickSize: '0.01'
                      - stepSize: '0.001'
                        minQty: '0.001'
                        filterType: LOT_SIZE
                        maxQty: '10000'
                      - maxQty: '3000'
                        stepSize: '0.001'
                        minQty: '0.001'
                        filterType: MARKET_LOT_SIZE
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierDown: '0.9000'
                        multiplierUp: '1.1000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: ZECUSDT
                    pair: ZECUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: ZEC
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 2
                    quantityPrecision: 3
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Privacy
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - filterType: PRICE_FILTER
                        maxPrice: '100000'
                        tickSize: '0.01'
                        minPrice: '2.85'
                      - minQty: '0.001'
                        stepSize: '0.001'
                        filterType: LOT_SIZE
                        maxQty: '10000'
                      - minQty: '0.001'
                        maxQty: '5000'
                        filterType: MARKET_LOT_SIZE
                        stepSize: '0.001'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierDown: '0.9000'
                        multiplierUp: '1.1000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: XTZUSDT
                    pair: XTZUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: XTZ
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 3
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - filterType: PRICE_FILTER
                        maxPrice: '100000'
                        tickSize: '0.001'
                        minPrice: '0.064'
                      - maxQty: '1000000'
                        filterType: LOT_SIZE
                        stepSize: '0.1'
                        minQty: '0.1'
                      - filterType: MARKET_LOT_SIZE
                        maxQty: '100000'
                        stepSize: '0.1'
                        minQty: '0.1'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: BNBUSDT
                    pair: BNBUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: BNB
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 3
                    quantityPrecision: 2
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '6.600'
                        filterType: PRICE_FILTER
                        maxPrice: '100000'
                        tickSize: '0.010'
                      - maxQty: '100000'
                        stepSize: '0.01'
                        filterType: LOT_SIZE
                        minQty: '0.01'
                      - stepSize: '0.01'
                        minQty: '0.01'
                        maxQty: '2000'
                        filterType: MARKET_LOT_SIZE
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierDown: '0.9500'
                        multiplierDecimal: '4'
                        multiplierUp: '1.0500'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: ATOMUSDT
                    pair: ATOMUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: ATOM
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 3
                    quantityPrecision: 2
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.017500'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - maxPrice: '100000'
                        filterType: PRICE_FILTER
                        tickSize: '0.001'
                        minPrice: '0.251'
                      - maxQty: '100000'
                        stepSize: '0.01'
                        filterType: LOT_SIZE
                        minQty: '0.01'
                      - stepSize: '0.01'
                        minQty: '0.01'
                        filterType: MARKET_LOT_SIZE
                        maxQty: '20000'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierDecimal: '4'
                        multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: ONTUSDT
                    pair: ONTUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: ONT
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.0241'
                        filterType: PRICE_FILTER
                        maxPrice: '100000'
                        tickSize: '0.0001'
                      - filterType: LOT_SIZE
                        maxQty: '1000000'
                        minQty: '0.1'
                        stepSize: '0.1'
                      - filterType: MARKET_LOT_SIZE
                        minQty: '0.1'
                        maxQty: '250000'
                        stepSize: '0.1'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                        filterType: PERCENT_PRICE
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: IOTAUSDT
                    pair: IOTAUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: IOTA
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.0205'
                        filterType: PRICE_FILTER
                        maxPrice: '100000'
                        tickSize: '0.0001'
                      - maxQty: '1000000'
                        stepSize: '0.1'
                        filterType: LOT_SIZE
                        minQty: '0.1'
                      - filterType: MARKET_LOT_SIZE
                        stepSize: '0.1'
                        minQty: '0.1'
                        maxQty: '200000'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierDown: '0.9000'
                        multiplierDecimal: '4'
                        multiplierUp: '1.1000'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: BATUSDT
                    pair: BATUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: BAT
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Infrastructure
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - maxPrice: '100000'
                        tickSize: '0.0001'
                        filterType: PRICE_FILTER
                        minPrice: '0.0134'
                      - maxQty: '1000000'
                        stepSize: '0.1'
                        filterType: LOT_SIZE
                        minQty: '0.1'
                      - filterType: MARKET_LOT_SIZE
                        minQty: '0.1'
                        stepSize: '0.1'
                        maxQty: '600000'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierDecimal: '4'
                        multiplierDown: '0.9000'
                        multiplierUp: '1.1000'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: VETUSDT
                    pair: VETUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: VET
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 6
                    quantityPrecision: 0
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.002080'
                        filterType: PRICE_FILTER
                        tickSize: '0.000010'
                        maxPrice: '2000'
                      - filterType: LOT_SIZE
                        maxQty: '10000000'
                        stepSize: '1'
                        minQty: '1'
                      - maxQty: '2500000'
                        stepSize: '1'
                        filterType: MARKET_LOT_SIZE
                        minQty: '1'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierDown: '0.9500'
                        multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierUp: '1.0500'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: NEOUSDT
                    pair: NEOUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: NEO
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 3
                    quantityPrecision: 2
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - maxPrice: '100000'
                        filterType: PRICE_FILTER
                        minPrice: '1.093'
                        tickSize: '0.001'
                      - filterType: LOT_SIZE
                        stepSize: '0.01'
                        maxQty: '100000'
                        minQty: '0.01'
                      - maxQty: '10000'
                        minQty: '0.01'
                        stepSize: '0.01'
                        filterType: MARKET_LOT_SIZE
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - filterType: PERCENT_PRICE
                        multiplierDown: '0.9500'
                        multiplierDecimal: '4'
                        multiplierUp: '1.0500'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: QTUMUSDT
                    pair: QTUMUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: QTUM
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 3
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.246'
                        maxPrice: '100000'
                        filterType: PRICE_FILTER
                        tickSize: '0.001'
                      - minQty: '0.1'
                        maxQty: '500000'
                        filterType: LOT_SIZE
                        stepSize: '0.1'
                      - filterType: MARKET_LOT_SIZE
                        maxQty: '10000'
                        minQty: '0.1'
                        stepSize: '0.1'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierDecimal: '4'
                        multiplierUp: '1.1000'
                        filterType: PERCENT_PRICE
                        multiplierDown: '0.9000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: IOSTUSDT
                    pair: IOSTUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: IOST
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 6
                    quantityPrecision: 0
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.012500'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.000587'
                        tickSize: '0.000001'
                        filterType: PRICE_FILTER
                        maxPrice: '2000'
                      - minQty: '1'
                        maxQty: '10000000'
                        stepSize: '1'
                        filterType: LOT_SIZE
                      - filterType: MARKET_LOT_SIZE
                        stepSize: '1'
                        maxQty: '5000000'
                        minQty: '1'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: THETAUSDT
                    pair: THETAUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: THETA
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - NFT
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - filterType: PRICE_FILTER
                        minPrice: '0.1070'
                        maxPrice: '1000'
                        tickSize: '0.0001'
                      - minQty: '0.1'
                        filterType: LOT_SIZE
                        maxQty: '1000000'
                        stepSize: '0.1'
                      - filterType: MARKET_LOT_SIZE
                        maxQty: '100000'
                        stepSize: '0.1'
                        minQty: '0.1'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: ALGOUSDT
                    pair: ALGOUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: ALGO
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.0500'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.05'
                    maxMoveOrderLimit: 10000
                    filters:
                      - maxPrice: '1000'
                        minPrice: '0.0141'
                        tickSize: '0.0001'
                        filterType: PRICE_FILTER
                      - maxQty: '1000000'
                        filterType: LOT_SIZE
                        stepSize: '0.1'
                        minQty: '0.1'
                      - minQty: '0.1'
                        stepSize: '0.1'
                        filterType: MARKET_LOT_SIZE
                        maxQty: '500000'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierUp: '1.0500'
                        multiplierDecimal: '4'
                        multiplierDown: '0.9500'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: ZILUSDT
                    pair: ZILUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: ZIL
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 5
                    quantityPrecision: 0
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - filterType: PRICE_FILTER
                        maxPrice: '100'
                        tickSize: '0.00001'
                        minPrice: '0.00219'
                      - stepSize: '1'
                        filterType: LOT_SIZE
                        maxQty: '10000000'
                        minQty: '1'
                      - minQty: '1'
                        filterType: MARKET_LOT_SIZE
                        maxQty: '5000000'
                        stepSize: '1'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierUp: '1.1000'
                        filterType: PERCENT_PRICE
                        multiplierDown: '0.9000'
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: KNCUSDT
                    pair: KNCUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: KNC
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 5
                    quantityPrecision: 0
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - DeFi
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.03200'
                        maxPrice: '181'
                        filterType: PRICE_FILTER
                        tickSize: '0.00010'
                      - minQty: '1'
                        stepSize: '1'
                        maxQty: '5000000'
                        filterType: LOT_SIZE
                      - maxQty: '500000'
                        stepSize: '1'
                        minQty: '1'
                        filterType: MARKET_LOT_SIZE
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - filterType: PERCENT_PRICE
                        multiplierDown: '0.9000'
                        multiplierDecimal: '4'
                        multiplierUp: '1.1000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: ZRXUSDT
                    pair: ZRXUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: ZRX
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - DEX
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - filterType: PRICE_FILTER
                        maxPrice: '1000'
                        tickSize: '0.0001'
                        minPrice: '0.0179'
                      - filterType: LOT_SIZE
                        minQty: '0.1'
                        stepSize: '0.1'
                        maxQty: '1000000'
                      - minQty: '0.1'
                        filterType: MARKET_LOT_SIZE
                        stepSize: '0.1'
                        maxQty: '250000'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - multiplierDown: '0.9000'
                        multiplierUp: '1.1000'
                        multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: COMPUSDT
                    pair: COMPUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: COMP
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 2
                    quantityPrecision: 3
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - DeFi
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - tickSize: '0.01'
                        maxPrice: '100000'
                        minPrice: '8'
                        filterType: PRICE_FILTER
                      - stepSize: '0.001'
                        filterType: LOT_SIZE
                        minQty: '0.001'
                        maxQty: '10000'
                      - filterType: MARKET_LOT_SIZE
                        minQty: '0.001'
                        maxQty: '1000'
                        stepSize: '0.001'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - notional: '5'
                        filterType: MIN_NOTIONAL
                      - filterType: PERCENT_PRICE
                        multiplierDown: '0.9000'
                        multiplierUp: '1.1000'
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: OMGUSDT
                    pair: OMGUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: OMG
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-2
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.015000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.1060'
                        tickSize: '0.0001'
                        maxPrice: '1000'
                        filterType: PRICE_FILTER
                      - minQty: '0.1'
                        stepSize: '0.1'
                        maxQty: '1000000'
                        filterType: LOT_SIZE
                      - maxQty: '50000'
                        stepSize: '0.1'
                        filterType: MARKET_LOT_SIZE
                        minQty: '0.1'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierDecimal: '4'
                        multiplierDown: '0.9000'
                        multiplierUp: '1.1000'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: DOGEUSDT
                    pair: DOGEUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: DOGE
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 6
                    quantityPrecision: 0
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Meme
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - maxPrice: '30'
                        minPrice: '0.002440'
                        tickSize: '0.000010'
                        filterType: PRICE_FILTER
                      - maxQty: '50000000'
                        minQty: '1'
                        stepSize: '1'
                        filterType: LOT_SIZE
                      - filterType: MARKET_LOT_SIZE
                        minQty: '1'
                        maxQty: '30000000'
                        stepSize: '1'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - filterType: PERCENT_PRICE
                        multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: SXPUSDT
                    pair: SXPUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: SXP
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Payment
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - filterType: PRICE_FILTER
                        maxPrice: '1000'
                        tickSize: '0.0001'
                        minPrice: '0.0454'
                      - minQty: '0.1'
                        filterType: LOT_SIZE
                        stepSize: '0.1'
                        maxQty: '1000000'
                      - minQty: '0.1'
                        stepSize: '0.1'
                        maxQty: '80000'
                        filterType: MARKET_LOT_SIZE
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                        multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: KAVAUSDT
                    pair: KAVAUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: KAVA
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.010000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - minPrice: '0.0593'
                        tickSize: '0.0001'
                        filterType: PRICE_FILTER
                        maxPrice: '653'
                      - stepSize: '0.1'
                        minQty: '0.1'
                        filterType: LOT_SIZE
                        maxQty: '1000000'
                      - stepSize: '0.1'
                        minQty: '0.1'
                        maxQty: '100000'
                        filterType: MARKET_LOT_SIZE
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierDecimal: '4'
                        multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: BANDUSDT
                    pair: BANDUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: BAND
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Oracle
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.017500'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - maxPrice: '783'
                        filterType: PRICE_FILTER
                        tickSize: '0.0001'
                        minPrice: '0.1647'
                      - minQty: '0.1'
                        maxQty: '2000000'
                        filterType: LOT_SIZE
                        stepSize: '0.1'
                      - stepSize: '0.1'
                        minQty: '0.1'
                        filterType: MARKET_LOT_SIZE
                        maxQty: '200000'
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - limit: 10
                        filterType: MAX_NUM_ALGO_ORDERS
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierUp: '1.1000'
                        filterType: PERCENT_PRICE
                        multiplierDown: '0.9000'
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: RLCUSDT
                    pair: RLCUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: RLC
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Oracle
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.020000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - tickSize: '0.0001'
                        maxPrice: '432'
                        minPrice: '0.1029'
                        filterType: PRICE_FILTER
                      - filterType: LOT_SIZE
                        stepSize: '0.1'
                        maxQty: '1000000'
                        minQty: '0.1'
                      - maxQty: '80000'
                        minQty: '0.1'
                        stepSize: '0.1'
                        filterType: MARKET_LOT_SIZE
                      - limit: 200
                        filterType: MAX_NUM_ORDERS
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                        filterType: PERCENT_PRICE
                        multiplierDecimal: '4'
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: WAVESUSDT
                    pair: WAVESUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: WAVES
                    quoteAsset: USDT
                    marginAsset: USDT
                    pricePrecision: 4
                    quantityPrecision: 1
                    baseAssetPrecision: 8
                    quotePrecision: 8
                    underlyingType: COIN
                    underlyingSubType:
                      - Layer-1
                    settlePlan: 0
                    triggerProtect: '0.1000'
                    liquidationFee: '0.020000'
                    marketTakeBound: '0.10'
                    maxMoveOrderLimit: 10000
                    filters:
                      - filterType: PRICE_FILTER
                        maxPrice: '2249'
                        minPrice: '0.3420'
                        tickSize: '0.0001'
                      - minQty: '0.1'
                        filterType: LOT_SIZE
                        stepSize: '0.1'
                        maxQty: '1000000'
                      - minQty: '0.1'
                        filterType: MARKET_LOT_SIZE
                        stepSize: '0.1'
                        maxQty: '16000'
                      - filterType: MAX_NUM_ORDERS
                        limit: 200
                      - filterType: MAX_NUM_ALGO_ORDERS
                        limit: 10
                      - filterType: MIN_NOTIONAL
                        notional: '5'
                      - multiplierUp: '1.1000'
                        multiplierDown: '0.9000'
                        multiplierDecimal: '4'
                        filterType: PERCENT_PRICE
                    orderTypes:
                      - LIMIT
                      - MARKET
                      - STOP
                      - STOP_MARKET
                      - TAKE_PROFIT
                      - TAKE_PROFIT_MARKET
                      - TRAILING_STOP_MARKET
                    timeInForce:
                      - GTC
                      - IOC
                      - FOK
                      - GTX
                      - GTD
                  - symbol: MKRUSDT
                    pair: MKRUSDT
                    contractType: PERPETUAL
                    deliveryDate: 4133404800000
                    onboardDate: 1569398400000
                    status: TRADING
                    maintMarginPercent: '2.5000'
                    requiredMarginPercent: '5.0000'
                    baseAsset: MKR
                    quoteAsset: USDT
                    marginAsset: USDT
[...]
